html, body{
    height: 100%; 
    color: #d3e3d4;
    font-family: 'Comic Neue', cursive;

}
header{
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-between;
    border: 1px solid red ;
    /* font-family: 'Just Another Hand', cursive; */
    font-size: 20px;
    /* width: 85%; */
}
header > div{
    display: flex;
    flex-wrap: nowrap; 
    border: 1px solid red; 
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
    /* margin-left: 1%; */
    /* background-color: #79b07d; */
}
body{
    display: flex; 
    flex-direction: column;
    background-color: #6d8a79;
    overflow: auto;
}
#searchDiv{
    display: flex;
    justify-content: space-evenly;
    
}
#currentWeather{
    margin-top: 5%;
    margin-right: 12%;
    margin-left: 12%;
    height: 25vh;
    border: 1px solid red;
    background-color: #79b07d;
}

#weatherHistory {
    margin-right: 12%;
    margin-left: 12%;
    margin-top: 5%;
    border: 1px solid red;
    display: flex;
}

#weatherHistory > div{
    display: flex;
    border: 1px solid red; 
    flex-direction: row;
    justify-content: space-around;
    width: 20%;
    margin-left: 1%;
    height: 20vh;
    background-color: #79b07d;
}